<% content_for :head do %>
<%= javascript_include_tag 'jquery.quicksand.js' %>
<%= javascript_include_tag 'jquery.easing.js' %>
<%= javascript_include_tag 'jquery.bpopup.js' %>
<link href="stylesheets/portfolio.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    function attatch_all_popup() {
        $('#portfolios a').click(function() {
            var element_id = $(this).attr("popup-id");
            $('#popup_content'+ element_id).openPopup({amsl:50, fadeSpeed:500, opacity:0.8});
            return false;
        });
    }

    $(document).ready(function(){
        attatch_all_popup();
    });

    $(function() {
        var $projects = $('#portfolios');
        var $projectsClone = $projects.clone();
        $('#tags a').click(function() {
            $('#tags label').removeClass("active");
            var tag = $(this).html();
            $(this).parent().addClass("active");
            if(tag == 'all') {
                var $filteredProjects = $projectsClone.find('li');
            } else {
                var $filteredProjects = $projectsClone.find('li[data-type*=' + tag + ']');
            }
            $projects.quicksand($filteredProjects, {
                duration : 800,
                easing : 'easeInOutQuad'
            }, function() { // when done shuffling
                 attatch_all_popup();
            });
        });
    });

</script>
<% end %>

<% content_for :body_content_left do %>
<div>
    <div id="tags">
        <label class="button active"><a href="#">all</a></label>
        <% @tags.each do |tag| %>
            <label class="button"><a href="#"><%= tag.name %> </a></label>
        <% end %>
    </div>
</div>
<ul id="portfolios" class="image-grid">
    <% @portfolios.each do |portfolio| %>
    <li class="box" data-id="id-<%= portfolio.id %>" data-type="<%= portfolio.tag_list %>">
        <a popup-id="<%= portfolio.id %>" href="#">
            <%= render_thumbnail portfolio %>
            <strong><%= portfolio.project_name %></strong>
        </a>
    </li>
    <% end %>
</ul>
<% end %>

<%= render :partial => "/shared/content_page" %>

<% @portfolios.each do |portfolio| %>
    <%= render :partial => 'popup_portfolio', :locals => {:portfolio => portfolio} %>
<% end %>