<% content_for :javascripts do %>
    <%= javascript_include_tag 'portfolio.min.js' %>
<% end %>

<% content_for :body_content_left do %>
<div>
    <div id="tags">
        <label class="button active"><a href="#">all</a></label>
        <% @tags.each do |tag| %>
            <label class="button"><a href="#"><%= tag.name %> </a></label>
        <% end %>
    </div>
</div>
<ul id="portfolios" class="image-grid">
    <% @portfolios.each do |portfolio| %>
    <li class="box" data-id="id-<%= portfolio.id %>" data-type="<%= portfolio.tag_list.to_s.delete ' ' %>">
        <a popup-id="<%= portfolio.id %>" href="#">
            <%= render_thumbnail portfolio %>
            <strong><%= portfolio.project_name %></strong>
        </a>
    </li>
    <% end %>
</ul>
<% end %>

<%= render :partial => "/shared/content_page" %>

<% @portfolios.each do |portfolio| %>
    <%= render :partial => 'popup_portfolio', :locals => {:portfolio => portfolio} %>
<% end %>