<% content_for :head do %>
<%= javascript_include_tag 'jquery.quicksand.js' %>
<%= javascript_include_tag 'jquery.easing.js' %>
<%= javascript_include_tag 'jquery.bpopup.js' %>
<link href="stylesheets/portfolio.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    function attatch_popup(element_id) {
        $('#'+ element_id).click(function() {
            $('#popup_content'+ element_id).openPopup({amsl:50, fadeSpeed:500, opacity:0.8});
                return false;
            });
    }

    $(document).ready(function(){
    <% @portfolios.each do |portfolio| %>
        attatch_popup("<%= portfolio.id %>");
    <% end %>});
</script>
<% end %>

<% content_for :body_content_left do %>
<div>
    <fieldset>
        <legend>
            Tags
        </legend>
        <label><a href="#">all</a></label>
        <% @tags.each do |tag| %> <label><a href="#"><%= tag.name %> </a></label>
        <% end %>
    </fieldset>
</div>
<ul id="portfolio" class="image-grid">
    <% @portfolios.each do |portfolio| %>
    <li data-id="id-<%= portfolio.id %>" data-type="<%= portfolio.tag_list %>">
        <a id="<%= portfolio.id %>" href="#">
            <%= render_thumbnail portfolio %>
            <strong><%= link_to portfolio.project_name, project_portfolio_path(portfolio) %></strong>
        </a>
    </li>
    <% end %>
</ul>
<script type="text/javascript">
    $(function() {
        var $projects = $('#portfolio');
        var $projectsClone = $projects.clone();
        $('#filter a').click(function() {
            var tag = $(this).html();
            if(tag == 'all') {
                var $filteredProjects = $projectsClone.find('li');
            } else {
                var $filteredProjects = $projectsClone.find('li[data-type*=' + tag + ']');
            }
            $projects.quicksand($filteredProjects, {
                duration : 800,
                easing : 'easeInOutQuad'
            });
        });
    });

</script>
<% end %>

<%= render :partial => "/shared/content_page" %>

<% @portfolios.each do |portfolio| %>
    <%= render :partial => 'popup_portfolio', :locals => {:portfolio => portfolio} %>
<% end %>