<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(project_portfolio) -%>">
  <span class='title'>
    <%= project_portfolio.project_name %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), project_portfolio_path(project_portfolio),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_project_portfolio_path(project_portfolio),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_project_portfolio_path(project_portfolio),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => project_portfolio.project_name),
        :method => :delete %>
  </span>
</li>
